*,*::after,*::before{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    
}

/* ===================
input section
=======================*/

.to-do_input{
    margin: 2rem 0;
}

.to-do_header{
    background-color: rgb(60, 60, 170);
}

.to-do_header .container{
    padding: 2.5rem 0;
}

.to-do_header h1 {
    color: beige;
}

/* ====================

=======================*/

table, tr{
    text-align: center;
    border: 1px solid black;
}

th,td{
    padding: 1rem;
}


input{
    color: blue;
}

.done{
    color: red;
    font-style: italic;
    text-decoration-line: line-through;
}

#to-do_tbody input {
    border-style: none;
    text-align: center ;
}