@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

/* ======================
    header section
=======================*/

.to-do_header{
    background-color: rgb(60, 60, 170);
}

.to-do_header .container{
    padding: 2.5rem 0;
}

.to-do_header h1 {
    font-size: 3rem;
    color: beige;
    font-weight: 700;
}

/* ===================
    input section
=======================*/

.to-do_input{
    margin: 2rem 0;
}

/* ====================
    table section
=======================*/

table, tr{
    text-align: center;
    border: 1px solid black;
}

th,td{
    padding: 1rem;
}


#to-do_tbody input {
    border-style: none;
    text-align: center ;
}

.done{
    color: red;
    font-style: italic;
    text-decoration-line: line-through; 
}